:root {
    --header-desktop-height: 70px;
    --color-black: #000000;
    --color-dark-gray: #31374F;
    --color-gray: #4E5B76;
    --color-asphalt-gray: #5F6878;
    --color-white: #FCFCFC;
    --color-white-grey: #F5F6FA;
    --color-border-gray: #D4DAE7;
    --color-site-gray: #6a7595;

    --color-green: #2FB040;

    --color-list-blue: #2AA7EE;

    --dark-purple-blue-gradient: radial-gradient(circle at center left, #513b78 5%, transparent 30%),
    radial-gradient(circle at center right, #4a4e9e 1%, transparent 25%);

    --dark-purple-blue-gradient-vertical: radial-gradient(circle at top, #513b78 5%, transparent 30%),
    radial-gradient(circle at bottom, #4a4e9e 1%, transparent 25%);

    --dark-background: #37405B;
    --max-content-width: 1230px;
    --max-submenu-content-width: 1180px;
    --zima-blue: #27CAF6;
    --color-text-zima-white: #BDF9FF;
    --color-lihgt-gray: #8390B7;
    --color-alt-gray: #393D53;

    --font-size-06: 0.6rem;
    --font-size-07: 0.7rem;
    --font-size-08: 0.8rem;
    --font-size-085: 0.85rem;
    --font-size-09: 0.9rem;
    --font-size-1: 1rem;
    --font-size-11: 1.1rem;
    --font-size-125: 1.25rem;
    --font-size-15: 1.5rem;
    --font-size-175: 1.75rem;
    --font-size-2: 2rem;
    --font-size-225: 2.25rem;
    --font-size-25: 2.5rem;

    --shadow: 0 -5px 2px 0 #00000005,
    0 7px 5px 0 #00000007,
    0 13px 10px 0 #00000009,
    0 22px 18px 0 #0000000B,
    0 42px 33px 0 #0000000D,
    0 100px 80px 0 #00000012;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
    font-variant-numeric: tabular-nums;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

a {
    /*all: unset;*/
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    all: unset;
}

.f-s-06 {
    font-size: var(--font-size-06);
}

.f-s-07 {
    font-size: var(--font-size-07);
}

.f-s-08 {
    font-size: var(--font-size-08);
}

.f-s-085 {
    font-size: var(--font-size-085);
}

.f-s-09 {
    font-size: var(--font-size-09);
}

.f-s-1 {
    font-size: var(--font-size-1);
}

.f-s-11 {
    font-size: var(--font-size-11);
}

.f-s-125 {
    font-size: var(--font-size-125);
}

.f-s-15 {
    font-size: var(--font-size-15);
}

.f-s-175 {
    font-size: var(--font-size-175);
}

.f-s-2 {
    font-size: var(--font-size-2);
}

.f-s-225 {
    font-size: var(--font-size-225);
}

.f-s-25 {
    font-size: var(--font-size-25);
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.f-800 {
    font-weight: 800;
}

.f-900 {
    font-weight: 900;
}


.roboto {
    font-family: 'Roboto', sans-serif;
}

.f-s-10 {
    font-size: 10px;
}

.f-s-10_5 {
    font-size: 10.5px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-13 {
    font-size: 13px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-24 {
    font-size: 24px;
}

.f-s-32 {
    font-size: 32px;
}

.f-s-36 {
    font-size: 36px;
}

/* Class for setting font size to 40 pixels */
.f-s-40 {
    font-size: 40px;
}

.f-s-50 {
    font-size: 50px;
}


.fx-grid {
    display: grid;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-column {
    display: flex;
    flex-direction: column;
}

.fx-center {
    align-items: center;
    justify-content: center;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    max-width: var(--max-content-width);
    justify-self: center;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.txt-white {
    color: var(--color-white);
}

.txt-black {
    color: var(--color-black);
}

.txt-gray {
    color: var(--color-gray);
}

.txt-dark-gray {
    color: var(--color-dark-gray);
}

.txt-light-gray {
    color: var(--color-lihgt-gray);
}

.txt-asphalt-gray {
    color: var(--color-asphalt-gray);
}

.txt-alt-gray {
    color: var(--color-alt-gray)
}

.txt-zima-blue {
    color: var(--zima-blue);
}

.txt-list-blue {
    color: var(--color-list-blue);
}

.txt-green {
    color: var(--color-green);
}

.txt-site-gray {
    color: var(--color-site-gray);
}

.cursor-pointer {
    cursor: pointer;
}

.gap-3 {
    gap: 3px;
}

.gap-5 {
    gap: 5px;
}

.gap-7 {
    gap: 7px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.mt-7 {
    margin-top: 7px;
}

.letter-spacing--2px {
    letter-spacing: -2px;
}

.btn {
    border: 2px solid var(--zima-blue);
    background-color: var(--color-white-grey);
    width: 160px;
    height: 58px;
    border-radius: 31px;
    font-weight: 600;
    font-size: 15px;
    appearance: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.tooltip {
    cursor: help !important;
}

.tooltip-text {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 15.5%;
    text-underline-offset: 22%;
}

#_tooltip_container {
    position: absolute;
    background-color: #373D3F;
    max-width: 240px;
    width: 100%;
    white-space: break-spaces;
    border-radius: 5px;
    min-height: 40px;
    padding: 5px;
    transform: translateX(-50%);
}

#_tooltip_container.top::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-bottom-color: #373D3F;
}

#_tooltip_container.right::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 100%;
    transform: translateY(+50%);
    border: 7px solid transparent;
    border-left-color: #373D3F;
}

#_tooltip_container.bottom::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-top-color: #373D3F;
}

#_tooltip_container.left::after {
    content: '';
    position: absolute;
    right: 100%;
    border: 7px solid transparent;
    border-right-color: #373D3F;
}

.text-align-center {
    text-align: center;
}



@media (max-width: 1620px) {
    div.content,
    section.content {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    #_tooltip_container {
        max-width: unset;
        width: unset;
    }
}
