.submenu-cases__container {
    justify-content: flex-start;
    align-content: flex-start;
}

.submenu-cases__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border-radius: 17px;
    padding: 0;
    gap: 34px;
    width: 100%;
    min-width: 100%;
}

.menu_solutions_grid_item {
    height: 68px;
    padding: 0;
    gap: 18px;
}

.submenu-cases__item {
    gap: 10px;
    width: 100%;
}

.submenu-cases__item-text {
    text-align: left;
}

.submenu-cases__item-text h3 {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
}

.submenu-cases__item-text p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.submenu-cases__item svg {
    width: 50px
}

@media (max-width: 800px) {
    .submenu-cases__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 700px) {
    .submenu-cases__header {
        display: none;
    }

    .submenu-cases__item {
        justify-content: flex-start;
        height: 100%;
    }

    div.submenu-cases__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    div.submenu-cases__item svg {
        display: flex;
        justify-content: center;
    }

    div.submenu-cases__item {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    div.submenu-cases__item-text {
        text-align: center;
    }

    div.submenu-cases__item-text span.submenu-cases__item-text_title,
    div.submenu-cases__item-text span.submenu-cases__item-text_content {
        text-align: center;
    }
}
